@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";

    string title = Model.Content.GetPropertyValue<string>("");

}

<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">
                    <h1 class="text-center">Your Wonderful Article Title</h1>
                    <p class="text-center">
                        <span class="date">Sept 8th, 2016 </span>
                    </p>
                    <img class="img-responsive" src="/img/desk.jpg">
                </div>
                <div class="text">
                    @Html.GetGridHtml(Model.Content, "contentGrid")
                </div>
            </div>
        </div>
    </div>
</div>

