@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using ClientDependency.Core.Mvc

@{
	Layout = "Master.cshtml";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@{
    Html.RequiresCss("/css/Contact-Form-Clean.css");
}

<div class="contact-clean">
    @{ Html.RenderAction("RenderForm", "Contact"); }
</div>

@section ScriptsBottom {
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/scripts/jquery.unobtrusive-ajax.min.js"></script>    
    <script src="/scripts/contactForm.js"></script>    
}
