@inherits UmbracoViewPage

@{ 
    string mainImageUrl = Umbraco.AssignedContentItem.HasValue("mainImage") ? Umbraco.AssignedContentItem.GetPropertyValue<IPublishedContent>("mainImage").Url : "";
}

<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">
                    <h1 class="text-center">@Umbraco.Field("title", altFieldAlias: "pageName", insertBefore: "<h1>", insertAfter: "</h1>")</h1>
                    @if(Umbraco.AssignedContentItem.HasValue("articleDate"))
                    {
                        <p class="text-center">
                            <span class="date">@Umbraco.Field("articleDate", formatAsDate: true)</span>
                        </p>
                    }
                    <img class="img-responsive" src="@(mainImageUrl)">
                </div>
                <div class="text">
                    @Html.GetGridHtml(Umbraco.AssignedContentItem, "contentGrid", "CSUSKGrid")
                </div>
            </div>
        </div>
    </div>
</div>
